@page "/"

<PageTitle>Character Creator</PageTitle>
<h1>Create your own Character!</h1>

<RadzenDataList TItem="characterSteps" AllowPaging="true" PageSize="1" Data="steps">
    <Template Context="step">
        @if(step == characterSteps.name){
            <h2>Whats the name of your Otter?</h2>
            <SelectionRow SelectionMethod="SelectionRow.selectionMethod.text"></SelectionRow>
        }
        @if(step == characterSteps.color){
            <h2>Which color should @Otter.name have?</h2>
            <SelectionRow SelectionMethod="SelectionRow.selectionMethod.dropdown"></SelectionRow>
        }
        @if(step == characterSteps.bracelet){
            <h2>Should @Otter.name have a cool bracelet?</h2>
            <SelectionRow SelectionMethod="SelectionRow.selectionMethod.boolean"></SelectionRow>
        }
        @if (step == characterSteps.result && Otter.colour == OtterColour.dark && Otter.bracelet == false){
            <h2>This is @Otter.name</h2>
            <img src="svg/otter-coloured.svg" width="300" height="500">
        }
        @if (step == characterSteps.result && Otter.colour == OtterColour.dark && Otter.bracelet == true)
        {
            <h2>This is @Otter.name</h2>
            <img src="svg/SVG/colored-dark-bracelet.svg" width="300" height="500">
        }
        @if (step == characterSteps.result && Otter.colour == OtterColour.light && Otter.bracelet == false)
        {
                <h2>This is @Otter.name</h2>
                <img src="svg/otter-coloured-light.svg" width="300" height="500">
        }
        @if (step == characterSteps.result && Otter.colour == OtterColour.light && Otter.bracelet == true)
        {
            <h2>This is @Otter.name</h2>
            <img src="svg/SVG/colored-light-bracelet.svg" width="300" height="500">
        }
    </Template>
</RadzenDataList>

<RadzenPager ShowPagingSummary="true" HorizontalAlign="HorizontalAlign.Right" Count="@pageCount" PageSize="1" PageNumbersCount="4" PageChanged="@PageChanged" />
@code{
    private int pageCount;
    private string[] strings = { "a", "b", "c", "d" };

    public characterSteps[] steps = { characterSteps.name, characterSteps.color, characterSteps.bracelet, characterSteps.result };

    public enum characterSteps {
        name,
        color,
        bracelet,
        result
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        pageCount = 1;
    }

    void PageChanged(PagerEventArgs args)
    {
        pageCount++;
    }


}
